<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Imageboard</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
     <div id="main">
        <first-component v-if="imageSelected" :id="imageSelected" @close="closeComponent"></first-component>
    <h2>I Love Images</h2>
     <form>
            <input v-model="title" id ="title" type="text" name="title" placeholder="title"> 
             <input v-model="description" id ="description" type="text" name="description" placeholder="description">
             <input v-model="username" id ="username" type="text" name="username" placeholder="username">
            <input @change="fileSelectHandler" type="file" name="file" accept="image/*">
            <div class="btn">
            <button @click.prevent="clickHandler">Upload</button>
            </div>
        </form>

    <div class="wrapper">  
            <div  class = "card" v-for='image in images' @click="clickImage(image.id)" :key="image.id" >
                <div class="imagecontainer" v-bind:style="{backgroundImage: 'url(' + image.url + ')'}"></div>
              
            <p>{{image.title}}</p>
            </div>
    </div>
    </div>
    <footer>Made with 💗 by Harisri.</footer>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>