* {
    background-color: rgb(152, 152, 158);
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    font-family: Snell Roundhand, cursive;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
}
#title,
#description,
#username {
    border: solid gray 2px;
    border-radius: 10%;
    max-width: 50%;
}

.wrapper {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    border: solid black 1px;
    border-radius: 15px;

    padding: 5px;
    background-color: #fff;
}
.imagecontainer {
    background-size: cover;
    height: 200px;
    width: 100%;
    background-position: center center;
}
img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.image_pop_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 152, 158);
    border: solid black 3px;
    margin-left: 350px;
    margin-top: 1px;
    height: 700px;
    width: 750px;
    position: absolute;
    z-index: 1;
}

p {
    text-align: center;
    background-color: #fff;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    background-color: transparent;
}

button {
    background-color: lightgray;
    cursor: pointer;
}
h2 {
    text-align: center;
}

h3 {
    background-color: transparent;
}
.xBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

footer {
    position: fixed;
    margin-left: 45%;
    bottom: 0;
    font-size: 10px;
}
