* {
    background-color: #a6d4d8;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #2e016c;
    max-width: auto;
}

.wrapper {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}
.card {
    border: solid black 1px;
    margin: 0 auto;
    padding: 5px;
    background-color: #fff;
}
.image_pop_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border: solid black 1px;
    margin-left: 350px;
    margin-top: 60px;
    height: 500px;
    width: 750px;
    position: absolute;
    z-index: 1;
}

p {
    text-align: center;
    background-color: #fff;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    background-color: transparent;
}

img {
    width: 250px;
    height: 200px;
}
button {
    background-color: lightgray;
    cursor: pointer;
}
h3 {
    background-color: transparent;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 10px;
}
